- var qSearch = qSearch

h1 User List

a(href="/users/create") New User

form(action="/users/search" method="get")
	div
		if qSearch
			input(type="text" placeholder="search..." name="q" value=qSearch)
		else 
			input(type="text" placeholder="search..." name="q")
		input(type="submit" value="Search")
		
ul
	each user in users
		li= user.name
			span &nbsp;
			a(href="/users/" + user.id) view...