extends ../layouts/common.pug

block content
	- var qSearch = qSearch

	h1 User List

	a(href="/users/create") New User

	form(action="/users/search" method="get" class="form-inline")
		div.form-group
			if qSearch
				input(type="text" placeholder="search..." name="q" value=qSearch class="form-control")
			else 
				input(type="text" placeholder="search..." name="q" class="form-control")
			input(type="submit" value="Search" class="btn btn-primary ml-2")
			
	ul
		each user in users
			li= user.name
				span &nbsp;
				a(href="/users/" + user.id) view...