extends ../layouts/common.pug

block content
	- var qSearch = qSearch
	
	.d-flex.align-items-center
		h1 User List

		a.btn.btn-primary.ml-3(href="/users/create") New User

	form.form-inline.d-flex.justify-content-end(action="/users/search" method="get")
		.form-group
			if qSearch
				input(type="text" placeholder="search..." name="q" value=qSearch class="form-control")
			else 
				input(type="text" placeholder="search..." name="q" class="form-control")
			input(type="submit" value="Search" class="btn btn-primary ml-2")
			
	table.table
		tr
			th Name
			th Phone
			th Actions
		each user in users
			tr 
				td= user.name
				td= user.phone
				td
					a.btn.btn-light(href="/users/" + user.id) View
